build
eigen-build
eigen-install
eigen-src
skynet/cmake-3.31.5-linux-x86_64
skynet/cmake-3.31.5-linux-x86_64.tar.gz
skynet/build

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
skynet/cmake-3.31.5-linux-x86_64.tar.gz
skynet/compile_commands.json
